<h1>Messages</h1>
<!-- ======= select box source arrays ======= -->
<table id="messageTable">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
        <% receiver = User.find(message[:receiver_id]) %>
        <% receiver_id = receiver[:id] %>
        <% receiver_name = receiver[:fullname] %>
        <tr>
          <td class="messageWith"> <% receiver_id.to_s %> <%= link_to receiver_name, user_message_path(current_user, message) %></td>
          <td class="messageAction"><%= link_to 'Edit', edit_user_message_path(current_user, message) %></td>
          <td class="messageAction"><%= link_to 'Destroy', user_message_path(current_user, message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="links">
  <%= link_to 'New Message', new_user_message_path(current_user[:id]) %>
</div>
