
<h2>Create a New Message</h2>

<p><%= @message[:content] %></p>

<div class="links">
  <%= link_to 'Edit', edit_user_message_path(current_user, @message) %> |
  <%= link_to 'Back', user_messages_path %>
</div>
