# == ignore bundler config.
/.bundle

# == ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# == ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# == ignore secrets and env variables
config/local_env.yml
config/secrets.yml
.env

# == ignore development folder/files
_DEV/*
