<h2>Admin: Add a New Language</h2>
<div class="formBox">
  <%= render 'form', language: @language %>
</div>
<div class="otherLinks">
  <%= link_to 'Back', languages_path, class: "linkButton" %>
</div>
