<h2>All DsCene Users</h2>
<div id="wrapper">
  <% @users.each do |user| %>
    <div class="userInfo">
      <!-- If user has a photo show it
      else show -->
        <%= image_tag("dcflag_heart.png", :alt => "Profile Photo") %>
      <!-- end -->
      <br>
      <div class="otherLinks">
        <%= link_to user[:fullname], user, class: "linkButton" %>
        <%= user[:neighborhood] %>
        <%= user[:hobby] %>
      </div>
    </div>
  <% end %>
</div>
<br>
