

<h1>All Users</h1>

<div id="wrapper">
  <% @users.each do |user| %>
    <div class="userInfo">
        <p>Image</p>
        <%= link_to user[:fullname], user %>
        <%= user[:neighborhood] %>
        <%= user[:hobby] %>
    </div>
  <% end %>
</div>
<br>
