<h2>Admin: Edit a Neighborhood</h2>
<div class="formBox">
  <%= render 'form', neighborhood: @neighborhood %>
</div>
<br>
<div class="otherLinks">
  <%= link_to 'Back', neighborhoods_path, class: "linkButton" %>
</div>
