/* === general === */
body {
  width: 100%;
}
#logo {
  margin-left: 250px;
  font-size: 70px;
  font-family: 'Abril Fatface', cursive;
}
/* === home page and nav === */
#nav {
  margin-left: -10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#homeMenu, #homeSlideshow {
  width: 50%;
}
#homeMenu {
  text-align: center;
}
.homeButtons a {
  text-decoration: none;
  color:black;
}
.homeButtons {
  box-sizing: border-box;
  width: 120px;
  margin: 8px auto;
  padding: 5px;
  transition: background-color .18s ease-in-out;
  background-color: yellow;
  border: 4px yellow solid;
}
.homeButtons:hover {
  background-color: white;
}
.section {
  margin: 20px;
}
.links {
  text-align: center;
}
/* === flexbox wrapper === */
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-around;
}
/* === profile display === */
#profileInfo {
  border-style: double;
  text-align: center;
  width: 50%;
}
.underPhoto {
  text-align: center;
}
#profilePhoto {
  width: 50%;
}
.defaultPhoto, .profile-photo > img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
/* === forms === */
.formBox {
  text-align: center;
}
/* === tables === */
th {
  visibility: hidden;
}
tr {
  background-color: #eee;
}
/* === messages === */
#messageTable {
  width: 80%;
}
.messageWith {
  width: 60%;
}
.messageAction {
  width: 6%;
  text-align: center;
}
#filterMessages {
  width: 50%;
  text-align: left;
}
#newMessages {
  width: 50%;
  text-align: right;
  margin-right: 50px;
}
/* === footer === */
footer {
  height: 100px;
  text-align: center;
  font-size: 10px;
}
