body {
  width: 100%;
}
.homeimg {
  height: 600px;
  width: 1450px;
}
.links {
  text-align: center;
}
#footer {
  height: 100px;
}
#profileinfo {
  border-style: double;
  text-align: center;
  margin-left: 400px;
}
.formBox {
  text-align: center;
}
#messageTable {
  width: 80%;
}
.messageWith {
  width: 80%;
}
.messageAction {
  width: 10%;
}

}
