
/* ======= general ======= */
body {
  width: 100%;
}
.homeimg {
  height: 600px;
  width: 1450px;
}
.links {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-around;
}
#footer {
  height: 100px;
}

/* ======= profile ======= */
#profileinfo {
  border-style: double;
  text-align: center;
  width: 60%;
}
.profile-photo > img {
    width: 40%;
    height: auto;
}
.formBox {
  text-align: center;
}

/* ======= tables ======= */
th {
  visibility: hidden;
}
tr {
 background-color: #eee;
}

/* ======= messages ======= */
#messageTable {
  width: 80%;
}
.messageWith {
  width: 60%;
}
.messageAction {
  width: 6%;
  text-align: center;
}
#filterMessages {
  width: 50%;
  text-align: left;
}
<<<<<<< HEAD
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#hobbyform {
  text-align: center
=======
#newMessages {
  width: 50%;
  text-align: right;
  margin-right: 50px;
>>>>>>> 3687dba7732ada94623cc3ddd92885c5fd2c9c06
}
