/* === general === */
body {
  width: 100%;
  background-color: #eee;
  font-family: Georgia;
}
.section {
  margin: 20px;
}
h1 {
  margin: 0px;
  margin-left: 150px;
  font-size: 70px;
}
h1, h2, h3, h4, .underPhoto {
  font-family: 'Abril Fatface', cursive;
}
h2, #homeMenu, .linkButton, #profileInfo, .underPhoto, #userName, .messageAction, .formBox, #filterMessages, #newMessages, .otherLinks, footer  {
  text-align: center;
}
/* === nav === */
#nav, #adminOnly, footer {
  margin-left: -10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}
#adminOnly {
  padding: 2px;
  padding-right: 12px;
  text-align: right;
  background-color: #333;
  color: white;
  font-size: 12px;
}
#adminOnly a {
  color: white;
  text-decoration: none;
}
#adminOnly a:hover {
  text-decoration: underline;
}
/* === home page === */
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  background-color: white;
}
#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#homeMenu {
  margin-left: 15px;
  width: 50%;
}
#passwordReset, .linkButton, .homeButtons, .homeButtons a {
  text-decoration: none;
  color: black;
}
.homeButtons, .homeButtons a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: Georgia;
}
.homeButtons {
  box-sizing: border-box;
  width: 120px;
  margin: 8px auto;
  padding: 5px;
  transition: background-color .18s ease-in-out;
  background-color: #6590BA;
  border: 3px #6590BA solid;
}
#passwordReset:hover, .linkButton:hover {
  text-decoration: underline;
}
.homeButtons:hover {
  background-color: white;
}
#userHome {
  margin-left: -15px;
  background-image: url("UnionRoof.jpg");
  background-position: center;
  background-size: cover;
  height: 100px;
}
.otherLinks {
  font-size: 14px;
}
/* === flexbox wrapper === */
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-around;
}
.recs {
  width: 25%;
}
/* === profile display === */
#profileInfo {
  background-color: #AEA599;
  border-style: double;
  width: 50%;
}
.underPhoto {
  background-color: #AEA599;
}
#userName {
  background-color: #6590BA;
}
#profilePhoto {
  width: 50%;
}
.defaultPhoto, .profile-photo > img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.userInfo {
  display: inline-block;
  padding-left: 150px;
}
/* === forms === */
.field {
  margin: 4px;
}
.typeBox, #messageBox {
  border-radius: 5px;
  width: 200px;
}
#messageBox {
  width: 340px;
  height: 100px;
}
.typeBox, #messageBox, select {
  background-color: white;
  border: 2px solid #6590BA;
}
select {
  width: 206px;
}
.adminForms {
  background-color: #6590BA;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* === table === */
table {
  width: 100%;
}
th, table {
  background-color: #AEA599;
}
tr {
  background-color: #eee;
}
td {
  padding: 3px;
}
.messageWith {
  width: 60%;
}
.messageAction {
  width: 6%;
}
#filterMessages, #newMessages {
  width: 50%;
  background-color: #6590BA;
  height: 24px;
  padding-top: 2px;
}
/* ==========  map style ========== */
#wrapperMap {
  background-color: #D9DADD;
  border-top: 62px solid #333;
}
#buttonSurround {
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 9px;
}
#map {
  width: auto;
  height: 370px;
  background-color: white;
  border: solid 14px #AEA599;
  margin: 0px auto;
}
#search-data {
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
.data-label{
  height: 20px;
  width: 175px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}
.data-value{
  height: 15px;
  width: 105px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 2px;
}
.data {
  height: 40px;
  width: 200px;
  margin: 0 auto;
}
/* === footer === */
footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: 10px;
  background-color: #d9dadd;
}
