body {
  width: 100%;
}
.homeimg {
  height: 600px;
  width: 1450px;
}
#footer {
  height: 100px;
}
.formBox {
  text-align: center;
}
#messageTable {
  width: 80%;
}
.messageWith {
  width: 80%;
}
.messageAction {
  width: 10%;
}
tr {
  
}
