
/* ======= general ======= */
body {
  width: 100%;
}
#logo {
  font-size: 70px;
  font-family: 'Abril Fatface', cursive;
  margin-left: 250px;
}
#nav {
  margin-left: -10px;
}
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
#homeMenu, #homeSlideshow {
  width: 50%;
}
#homeMenu {
  text-align: center;
}
.homeButtons {
  background-color: yellow;
  padding: 3px;
  margin: 5px;
}
.links {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  align-content: space-around;
}
.section {
  margin: 20px;
}
#footer {
  height: 100px;
}

/* ======= profile ======= */
#profileInfo {
  border-style: double;
  text-align: center;
  width: 50%;
}
.underPhoto {
  text-align: center;
}
#profilePhoto {
  width: 50%;
}
.defaultPhoto, .profile-photo > img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.formBox {
  text-align: center;
}

/* ======= tables ======= */
th {
  visibility: hidden;
}
tr {
 background-color: #eee;
}

/* ======= messages ======= */
#messageTable {
  width: 80%;
}
.messageWith {
  width: 60%;
}
.messageAction {
  width: 6%;
  text-align: center;
}
#filterMessages {
  width: 50%;
  text-align: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111; /* Change the link color to #111 (black) on hover */
}
#hobbyform {
  text-align: center
}
#newMessages {
  width: 50%;
  text-align: center;
  margin-right: 50px;
  background-color: #D9DADD;
}
#breweries, #restaurants, #cafes, #places {
  width: 100px;
  float: left;
  margin-left: 50px;
}
#filterMessages {
  background-color: #6590BA;
  text-align: center;
}
#messageTable {
  background-color: #AEA599;
  width: 80%;
  text-align: center;
}
h1 {
  text-align: center;
}
#profileLinks {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto;

}
